<pre class='delay t-4 ascii ascii-secondary' style="overflow:hidden;">
& && &&&\& &&       &&& &
  &  &&&&&&~&&    &&&&&&&& &
   &&&&/|\&&&&& &&&&&&\&&& &&&&
    &  /~&&& && &&&&&&&/& &&&&&
    & &&&/|\&&&&&&&&&&&& &&&&& &
         \|&&\& &&/&&&&&&&&&&&&&&
         \/|\&|/&&&\|~&&&&&&&&&&|\
          /~|/|\&/&\/~&/&&&&&&/&&     & &
           //|\\&&&/|/~\|/&&&&       &&&&&
    &     &&&|  //\||\/&/~/|&      &_&__&&&&&
 &  &&&   &&&&|/|\__\|&\_|/~   &/ __/ &&& &
&&&&&&& & &&&&& \|&/|\&\/~/__/_/&&  &&& &
&& &&\__ &&&\&_ &&&|/&& \|  \|/&&&&& &&  &
    &&\&& &&_ &&&&\|     /|\&|/   &&&&
  && \&_&\& \_\__\\|/~   /~//~/
                \ /~~   \/~\
                   /~|| |/~/
                      /~/~
                      \/~
                       /~/~
        :___________./~~~\.___________:
         \                           / 
          \_________________________/ 
          (_)                     (_)
</pre>
